/* smallest */
@media (max-width: 400px) {
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
        /* padding-left: 3em;
        padding-right: 3em; */
        background-color: rgba(72, 94, 94, 0.2);
    }

    nav ul,
    #mainmenu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
        justify-content: center;
        padding-bottom: 1em;
    }

    #privacy,
    #seeRecipe {
        width: 90%;
        margin: 0 auto;
    }

    #seeRecipe.container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }


    .column-photo {
        width: 100%;
    }


    .picture {
        text-align: center;
    }

    .feature-img {
       width: 100%;
    }

    .column-recipe {
        width: 100%;
    }

    div#content {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div.ingredients {
        width: 100%;
    }

    div.instructions {
        width: 100%;
    }

}

/* smaller */
@media (min-width: 401px) and (max-width: 1023px) {
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 3em;
        padding-right: 3em;
        background-color: rgba(72, 94, 94, 0.2);
    }

    nav ul,
    #mainmenu {
        display: flex;
        flex-direction: column;
        /* flex-wrap: nowrap; */
        align-items: center;
        margin: 0;
    }

    #privacy,
    #seeRecipe {
        width: 80%;
        margin: 0 auto;
    }

    #seeRecipe.container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .column-photo {
        width: 100%;
    }


    .picture {
        text-align: center;
    }

    .feature-img {
        width: 100%;
    }

    .column-recipe {
        width: 100%;
    }

    div#content {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    div.ingredients {
        width: 40%;
    }

    div.instructions {
        width: 60%;
    }

    #main-footer {
        flex-direction: column-reverse;
    }

    #footer-column2 img {
        height: 180px;
    }


}

/* medium */
@media (min-width: 1024px) and (max-width: 1280px) {
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-left: 3em;
        padding-right: 3em;
        background-color: rgba(72, 94, 94, 0.2);
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        margin: auto;
    }

    nav ul,
    #mainmenu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
    }

    #privacy,
    #seeRecipe {
        width: 70%;
        margin: 0 auto;
    }

    #seeRecipe.container {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    #addRecipe.container {
        flex-direction: column;
        justify-content: center;
    }

    .column-photo {
        width: 50%;
    }

    .picture {
        text-align: right;
    }

    .feature-img {
        width: 92%;
        max-width: 400px;
        padding-right: 40px;
    }

    .column-recipe {
        width: 50%;
    }

    div#content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    div.ingredients {
        margin-top: 40px;
        width: 50%;
    }

    div.instructions {
        margin-top: 40px;
        width: 50%;
    }

    #main-footer {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #footer-column2 img {
        height: 180px;
    }


}

/* Larger */
@media (min-width: 1281px) {
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-left: 3em;
        padding-right: 3em;
        background-color: rgba(72, 94, 94, 0.2);
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        margin: auto;
    }

    nav ul,
    #mainmenu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
    }

    #privacy,
    #seeRecipe {
        width: 60%;
        margin: 0 auto;
    }

    #seeRecipe.container {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .column-photo {
        width: 30%;
    }

    .picture {
        text-align: right;
    }

    .feature-img {
        width: 92%;
        max-width: 400px;
        padding-right: 40px;
    }

    .column-recipe {
        width: 70%;
    }

    div#content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    div.ingredients {
        margin-top: 40px;
        width: 25%;
    }

    div.instructions {
        margin-top: 40px;
        width: 65%;
    }
    #main-footer {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #footer-column2 img {
        height: 200px;
    }

}

@media (max-width: 1023px) {

    .text3 {
        width: 30%;
        font-size: 2em;
        height: 42px;
        bottom: 270px;
        padding-top: 0;
        padding-left: 20px;
    }

    .text1, .text2 {
        width: 40%;
        font-size: 1.8em;
        height: 80px;
        bottom: 245px;
        padding-top: 0;
        padding-left: 20px;
    }

    .dot, .text3, .text1, .text2,
    .slides {
        /* display:none; */
        top: 298px;
        left: 0;
        z-index: 0;

    }

    #seeRecipe.container {
        margin-top: 0m!important;
    }
    
    #intro.container {
        /* margin-top: 26em!important; */
        margin-top: 2em!important;
    }

    #intro-all.container {
        margin-top: 1em!important;
    }

    #spacer {
        top: 410px;
    }

    .slideshow-container {
        max-width: 100%;
        overflow: hidden;
        position: absolute;
        top: 120px;
        left: 0;
        z-index: -1;
        margin: auto;
    }
}



@media (min-width: 1024px) {
    .slideshow-container {  height: 600px; }
    .dot { margin-top: 42%; }
    #spacer { height: 10px; }
    .text3 {
        width: 30%;
        font-size: 2em;
        height: 42px;
        bottom: 270px;
    }

    .text1, .text2 {
        width: 40%;
        font-size: 1.8em;
        height: 80px;
        bottom: 245px;
    }

    .slides {
        object-position: 0px 0px;
   }

}



@media (min-width: 1281px) {
    .slideshow-container {  height: 600px; }
    .dot { margin-top: 25%; }
    #spacer { height: 70px; }
    .text3 {
        width: 30%;
        font-size: 2em;
        height: 42px;
        bottom: 270px;
    }

    .text1, .text2 {
        width: 30%;
        font-size: 2em;
        height: 85px;
        bottom: 245px;
    }

    .slides {
        object-position: 0px -230px;
   }

}















html, body {
    background-color: eee;
    padding: 0;
    margin: 0;
}

.dont-show {display:none;}
.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.spacer {margin-top: 1em;}
.empty-space {
    margin-top: 40px;
}

/* -----------------General Typography----------------- */
.text1, .text2, .text3, select, option, .author, .date, textarea,
label,
input,
h1, h2, h3, h4,
a, ul, li, p, td {
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(72, 94, 94);
}

a {
    text-decoration: none;
}

a.u-link {
    text-decoration: underline;
}

table {
    /* border-collapse: collapse; */
    border: transparent;
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

th {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 0.8em;
    line-height: 1.5em;
    text-transform: uppercase;
    color:rgb(255, 204, 181);
    text-align: left;
    padding-left: 0.2em;
    background-color: rgb(72, 94, 94);
    border: 2px solid rgb(72, 94, 94);
    min-width: 60px;
}

td {
    font-size: 0.8em;
    padding-right: 1.5em;
}

td.centered {
    text-align: center;
}

span.bold {
    font-weight: bold;
}

/* ----------------BUTTONS & HOVERING---------------- */
td.btn {
    background-color:rgb(255, 204, 181);
    border-radius: 6px;
    border: 2px solid #fff;
    padding: 2px;
}

td.btn span,
td.btn a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

td.btn.disabled:hover,
td.btn.disabled {
    background-color:rgba(255, 184, 151, 0.2);
    border: 2px solid #fff;
    color:rgba(72, 94, 94, 0.5);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

td.btn a:hover { color:rgb(255, 184, 151);  }
td.btn:hover {
    background-color:rgb(72, 94, 94);
    border: 2px solid rgb(72, 94, 94);
    color:rgb(255, 184, 151);
}

tr:hover {background-color: rgba(72, 94, 94, 0.1);}

.btn-spacer {
    border: 3px solid #fff!important;
}

.filter-btn {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    background-color:rgb(255, 204, 181);
    min-width: 100px;
    width: auto;
    text-decoration: none;
    text-transform: uppercase;
    /* font-weight: bold; */
    color:rgb(72, 94, 94);
    border: 2px solid rgb(255, 204, 181);
    margin: 4px;
    padding: 4px 8px;
}

span.btn,
span#deletePost,
#signup-btn,
#links a,
#links p,
input.btn {
    font-family: 'Source Sans Pro', sans-serif;
    /* font-weight: 200; */
    background-color:rgb(255, 204, 181);
    width: 80px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(72, 94, 94);
    border: 2px solid rgb(255, 204, 181);
}

#signup-btn {
    padding-right: 5px;
    width: 100px!important;
}

.filter-btn:hover,
span.btn:hover,
#signup-btn:hover,
span#deletePost:hover,
#links a:hover,
#links p:hover,
input.btn:hover {
    background-color:rgb(72, 94, 94);
    border: 2px solid rgb(72, 94, 94);
    color:rgb(255, 184, 151);
}

#links {
    margin-top: 1em;
}

.errormsg {
    font-family: 'Source Sans Pro', sans-serif;
    background-color:rgb(255, 194, 145);
}

h1, h2, h3, h4 {text-transform: uppercase;}

h1,
h2,
h3 {
    font-weight: 900;
}

h3 {
    margin: 0;
}

ol {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding-left: 15px;
}

li {
    margin: 4px 0;
}

.author, .date, p {
    font-weight: 300;
}

.author, .date {
    font-size: 0.7em;
    font-style: italics;
}

input, option {
    font-size: 0.8em;
}

select {
    font-size: 0.9em;
}

ul.nobullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 780px) {
    #admin-sidebar ul.nobullets{
        min-width: 150px;
    }
}

a.noline {
    text-decoration: none;
}

a:hover {
    color:rgb(255, 184, 151);
}


/* ------------------HEADER------------------ */


header h1:hover,
header a:hover {
    color:rgb(255, 184, 151);
}

/* Navbar */


nav a {
    padding: 10px 16px;
    text-transform: uppercase;
    font-weight: 900;
    /* color:rgb(72, 94, 94); */
}



/* ------------------MAIN CONTENT------------------ */
.row#video-intro,
.row {
    width: 100%;
    margin-top: 2em;
}


@media (min-width: 716px) and (max-width: 1023px) {
    .row#video-intro{
       margin-top: 27em!important;
       margin-left: auto;
       margin-right: auto;
       width: 90%!important;
    }

    #video-intro-container {
        width: 100%!important;
    }
}



@media (max-width: 715px) {
    .row#video-intro{
       margin-top: 17em!important;
       margin-left: auto;
       margin-right: auto;
       width: 90%!important;
    }

    #video-intro-container {
        width: 100%!important;
    }
}

#video-intro-container,
#intro-all.container,
#intro.container {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

#seeRecipe.container {
    display: flex;
}

h2.title {
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
}

div.story p {
    font-style: italic;
    font-size: 0.8em;
}
div.info {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    background-color: rgba(72, 94, 94, 0.2);
    text-align: center;
}

div.info div {    border: 1px solid rgba(72, 94, 94, 0.2); }
div.info h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.5em;
}

div.info p {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 0.8em;
}

div.ingredients div p {
    margin: 0;
}

.ingredients p {
    margin: 0;
}

.ingredients p strong {
    margin-top: 1em;
}

.publish-details-index,
.publish-details {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.publish-details-index {
    flex-direction: column-reverse;
}

.author,
.date {
    justify-content: center;
    text-align: center;
}

.publish-details {
    flex-direction: row;
}

.publish-details-index {
    text-align: right;
}

.publish-details {
    justify-content: flex-start;
}

.publish-details-index {
    justify-content: flex-end;
}

img.avatar {
    border-radius: 50%;
    width: 40px!important;
    padding-right: 10px;
    padding-left: 10px;
}

.teaser {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.teaser h2 {
    font-size: 1em;
    margin-bottom: 0;
}

.teaser p {
    font-size: 0.8em;
    margin-bottom: 0;
}


/* --------------------ADMIN-------------------- */
#admin-sidebar
{
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media (min-width: 781px) {
    #admin-sidebar {
        width: 80%;
    }
}

@media (max-width: 780px) {
    #admin-sidebar {
        width: 95%;
        min-width: 150px;
    }
}

#uploadFile,
#addRecipe,
#admin {
    width: 80%;
    padding-left: 3em;
}

@media (min-width: 401px) and (max-width: 1023px) {
    #uploadFile,
    #addRecipe,
    #admin {
        width: 70%;
        padding-left: 2em;
    }
}

.welcome {
    text-align: center;
    margin: 40px auto;
}

/* -----------------ADD RECIPE----------------- */
form {
    margin: 10px 0;
    border: 1px solid grey;
    padding: 1em;
}

form h2 {
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-c {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end {
    justify-content: flex-end;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.column-50 {
    width: 50%;
    margin: 0 auto;
}

.right-margin {
    margin-right: 10px;
}

.float-left {
    float: left;
}

.top-spacer {
    margin-top: 5px;
}

input {
    margin: 5px auto;
    padding: 4px 5px;
    width: 90%;
    border: 0;
    line-height: 1.5em;
    border-radius: 3px;
    border: 2px solid #d8d8d8;
    background-color: rgb(255 255 255);
}

select {
    margin: 5px auto;
    padding: 4px 5px;
    width: 93%;
    border-radius: 3px;
    border: 2px solid #d8d8d8;
    background-color: rgb(255 255 255);
}

#reset,
#fileupload,
#submit {
    width: 20%;
    background-color: rgba(72, 94, 94, 1);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
}

#reset:hover,
#fileupload:hover,
#submit:hover {
    color:rgb(210, 255, 255);
    background-color:rgb(63, 114, 114);
}

textarea {
    width: 100%;
    height: 100px;
    margin: 5px 0;
    border: 1px solid rgba(72, 94, 94, 0.2);
    background-color: rgba(72, 94, 94, 0.1);
}

/* ----------SIDEBAR---------- */

#sidebar {
    width: 150px;
    border-right: solid 1px rgba(167, 211, 211, 0.4);
}

#addRecipe.container h3,
#sidebar h3,
#admin h3,
#sidebar a {
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color:rgb(72, 94, 94);
}

#sidebar li,
#sidebar a {
    font-weight: 300;
    font-size: 1em;
}

#sidebar a.h3 {
    font-weight: 700;
}

#sidebar a:hover,
nav a:hover {
    /* font-weight: bold; */
    background-color:rgb(72, 94, 94);
    color:rgb(255, 184, 151);
}

#maincontent-sidebar {
    width: 80%;
    margin-left: auto;
    margin-right: 0;
    /* margin-top: 10%; */
    margin-top: 45px;
    /* border-left: solid 1px rgba(167, 211, 211, 0.4); */
    padding-left: 2em;
}

/* ---------------LOGIN--------------- */
#login-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#login-section form {
    margin: 10px;
}

#login-form {
    width: 200px;
}

#login {
    width: 300px;
    margin: 0 auto;
}

#toolbar {
    background-color:rgb(255, 184, 151);
    color:rgb(72, 94, 94);
    line-height: 1.5em;
    padding-right: 2em;
}

.welcomemsg {
    font-weight: bold;
}

#toolbar li {
    padding: 0 10px;
}

#toolbar a {
    color:rgb(72, 94, 94);
    font-weight: bold;
}

#toolbar a:hover {
    color:rgb(255, 241, 234);
}

/* ---------------ALL RECIPES--------------- */
#newRecipes.container,
#allRecipes.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
}

#allRecipes.container {
    width: 80%;
}

#newRecipes.container{
    width: 90%;
}

.recipe-card {
    width: 200px;
    border: 1px solid rgba(72, 94, 94, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1em;
}

.new-recipe-card {
    width: 200px;
    /* height: 300px; */
    border: 1px solid rgba(72, 94, 94, 0.1);
    display: flex; 
    flex-direction: column;
    /* justify-content: center; */
}

.new-recipe-card img {
    height: auto;
    width: 100%;
}

.recipe-card img {
    width: 100%;
}

.recipe-card h2 {
    font-size: 1.2em;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 0;
    text-decoration: none;
}

.recipe-card p {
    font-size: 0.8em;
    padding: 0 10px;
    text-decoration: none;
}

a.read-more {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    justify-content: center!important;
    color:rgb(255, 184, 151);
    font-size: 0.8em;
}

.teaser.read-more {
    text-align: center;
    margin: 0 auto;
    justify-content: center!important;
}


/* ----------------------FOOTER---------------------- */
#footer-toolbar {
    width: 100%;
    /* margin: 20px; */
    text-align: center;
    border-top: 1px solid rgb(72, 94, 94);
    color:rgb(72, 94, 94);
    font-size: 0.8em;
}


#main-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgba(72, 94, 94, 0.5);
    margin-top: 40px;
    padding-top: 1em;
    padding-bottom: 1em;
}

#footer-column1,
#footer-column2,
#footer-column3 {
    width: 33%;
    text-align: center;
    margin: 0 auto;
}

    
@media (max-width: 780px) {
    #footer-column1,
    #footer-column2,
    #footer-column3 {
        width: 100%;
    }

}


/* #footer-column2 img {
    height: 200px;
} */

form.signup {
    width: 60%;
    margin: 0 auto;
}

@media (min-width: 401px) and (max-width: 1023px) {
    form.signup {
        width: 35%;
        margin-top: 0; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

span#signup-btn {
    margin: 5px;
}


/* -----------------SLIDER----------------- */

/* Slideshow container */



  /* Hide the images by default */
  .mySlides {
    display: none;

  }


  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* Caption text */
.text1, .text2, .text3 {
    background-color: rgb(255, 184, 151);
    position: absolute;
    right: 0;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}




  /* Number text (1/3 etc) */
  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s;
  }

  @-webkit-keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
  }



  #filter {
    text-align: center;

  }

  #filter-btns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    
@media (min-width: 781px) {
    #filter-btns {
        flex-direction: row;
    }
}

@media (max-width: 400px) {
    #filter-btns {
        flex-direction: column;
        width: auto;
    }
}

@media (min-width: 1024px) {
    iframe {
        height:290px;
        width:600px;
        border: 0;
    }
}

@media (max-width: 1023px) {
    iframe {
        height: auto;
        min-height: 230px;
        width: 100%;
        border: 0;
    }
}

.embed-container {
    /* width: 560px; 
    height: 315px; */
    width: 100%; 
    height: auto;
    margin: 0 auto;
}

#video-intro {
    padding: 1em;
}
